.spin {
    animation-name : spin;
    animation-duration: 5000ms;
    animation-fill-mode: forwards;
}

@keyframes spin {

    from {
        transform: rotate(0deg);
      }
    
      to {
        transform: rotate(1000deg);
      }
}